<div class= 'container'>
  <h1 class= 'text-center'>Contact us</h1>
  
  <!--html way of creating a form-->
  <!--<form>-->
  <!--  <label>Name</label>-->
  <!--  <input type='text'>-->
  <!--  <br>-->
  <!--  <label>Email</label>-->
  <!--  <input type='text'>-->
  <!--  <br>-->
  <!--  <label>Commets</label>-->
  <!--  <input type='text'>-->
  <!--  <br>-->
  <!--  <input type='submit'>-->
  <!--</form>-->
  
  <%= form_for "/contacts" do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'Submit' %>
  <% end %>
</div>